// fonts

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}


//
// IMPORTING STYLES
//
// Core variables and mixins
//@import "bootstrap/variables.less";
@import "custom-variables"; // custom variables
// Bootstrap
@import "../bootstrap-sass/assets/stylesheets/_bootstrap";
// Font Awesome
//@import "font-awesome/less/font-awesome.less";
// BREW files
@import "theme/wp-core"; // styles for text formatting, captions, galleries, etc
@import "theme/global"; // BREW global styles
@import "theme/comments"; // styles for comments
@import "theme/tables"; // styles for tables
@import "theme/form"; // styles for forms
@import "theme/sidebar"; // styles for sidebars
@import "theme/footer"; // styles for footer
@import "theme/content"; // styles for wordpress pages/posts etc
@import "theme/nav"; // styles for navigation and header
@import "theme/body"; // target specific body classes
@import "theme/components"; // components built for BREW such as breadcrumbs, next/previous buttons, etc
@import "other/slider-pro"; // Slider Pro
@import "other/animate"; // Slider Pro

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    // styles in 2x.less
    @import "other/_2x";
} // end of media query

/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

body img.gform_ajax_spinner {
    display: none!important;
}

.mobile-hide-br {
    @media (max-width: 991px) {
    display: none;
    }
}

p { widows: 3; orphans: 3; }

// iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
.logo {
    display: block;
    overflow: auto;
    text-align: center;
      @media (max-width: 767px) {
          text-align: left;
          padding-left: 20px;
    margin: 20px 0 0px;;
    }
    img {
        width: 100%;
        height: auto;
        min-width: 120px;
            max-width: 145px;
        
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
height: 100%;
}
        
        
        @media (max-height: 900px) {
           width: 100px;
            min-width: 100px; 
            
        }
        
        
        @media (max-width: 991px) {
        width: 80px;
            min-width: 80px;
            margin-bottom: 10px;
        }
        @media (max-width: 768px) {
             margin-bottom: 0px;
        }
    }
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}



.navbar-toggle .icon-bar {
    background: #000;
}

.navbar-fixed-top {
    background: white;
}

html .navbar {
    border:none;
    min-height: 130px;
    
     @media (max-height: 900px) {
     min-height: 105px;
    }
    
    @media (max-width: 991px) {
     min-height: 84px;
    }
    
   @media (max-width: 767px) {
     min-height: 84px;
    }
}

.navbar-toggle {
    margin-top: 20px;
    @media (max-width: 767px) {
        margin-bottom: 20px;
        
    }
}
 @media (max-width: 768px) {
.hidden-xs-down {
    display: none;
     }}

.pull-down {}

.section-wrap {
    display: block;
    width: 100%;
    overflow: auto;
}

.navbar-nav .open .dropdown-menu {
	background: #1c8343; /* fallback */
	background:
		linear-gradient(315deg, transparent 10px, #1c8343 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #1c8343 0) bottom left;
	background-size: 80% 100%;
	background-repeat: no-repeat;
}



@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; 
      background: #1c8343; /* fallback */
	background:
		linear-gradient(315deg, transparent 10px, #1c8343 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #1c8343 0) bottom left;
	background-size: 80% 100%;
	background-repeat: no-repeat;
  }
}

header {
      -webkit-box-shadow: 1px 4px 8px -1px rgba(0,0,0,0.30);
-moz-box-shadow: 1px 4px 8px -1px rgba(0,0,0,0.30);
box-shadow: 1px 4px 8px -1px rgba(0,0,0,0.30);
}

html .white-nav {
    @media (max-width: 768px) {
    background: white;
    }
    
    .caret {
        display: none !important;
    }
    
    @media (min-width: 767px) {
        padding: 28px 5% 0px;
    }
    .navbar-header {}
    .navbar-nav {
        ul {}
    }
}

.menu-wrap {
    background:#fff;
    @media (min-width: 991px) {
        margin-top: 0px;
    }
}

@media (min-width: 991px) {
    .header {
        .vertical-align {
            display: flex;
            align-items: normal;
        }
        .navbar-header {
            
            margin-bottom: 20px;
        }
    }
}

.info {
        text-align: right;
        font-size: 18px;
        font-weight: 400;
        color: #7a7a7b;
        margin: 0 0 30px;
    
    @media (max-height: 900px) {
        font-size: 16px;
    }
    
   
        
        span {
            color: #1c8343;
        }
    
    @media (max-width: 991px) {
         margin: 0;
    }
    
    a {
         color: #1c8343;
    }
        
        @media (max-width: 1500px) {
       
        }
        
        @media (max-width: 1300px) {
          
        }
        
    }
   


/* Home Slider */

html #home-slider {
    .sp-slide {
        background-size: cover !important;
        @media (max-width: 991px) {
            background-position: center !important;
        }
    }
    .slide-container {
        margin: 0 10% 100px;
        position: absolute;
        bottom: 0;
        
        @media (max-height: 800px) {
            margin: 0 10% 35px;
        }
        
        @media (max-width: 1024px) {
            margin: 0 10% 35px;
        }
        
        h2 {
            font-family: "adobe-caslon-pro", serif;
            font-size: 55px;
            color: white;
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 25px;
            letter-spacing: 1px;
            @media (max-width: 991px) {
                line-height: 16px;
                font-size: 40px;
            }
        }
        h3 {
            font-size: 30px;
            color: white;
            font-weight: 400;
            margin: 10px 0 10px 0;
            border-bottom: 2px solid;
            padding-bottom: 8px;
            @media (max-width: 991px) {
                font-size: 24px;
            }
        }
        .findoutmore {
            font-size: 20px;
            color: white;
            font-weight: 600;
            margin: 0;
            text-transform: uppercase;
            @media (max-width: 991px) {
                font-size: 18px;
            }
            
            img {
                width: 25px;
                height: auto;
                margin: 0 10px;
            }
            
        }
    }
    .sp-slide:nth-child(even) {
        .slide-container {
            text-align: right;
            right: 0;
        }
    }
}

.home-content {
    background: white;
    text-align: center;
    h1 {
        margin: 10px 0 20px;
    }
    .about-home-content {
        margin-bottom: 40px;
        font-size: 18px;
        padding: 0 25%;
        
        @media (max-width: 768px) {
            padding: 0 30px;
        }
        
    }
}

.home-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 800px;
    }
    @media (min-width: 1200px) {
        width: 920px;
    }
}

.padding60bottom {
    padding-bottom: 60px;
}

.padding20top {
    padding-top: 20px;
}

.padding20 {
    padding: 20px 0;
}

.padding30 {
    padding: 30px 0;
}

.padding40top {
    padding: 40px 0 0;
}

.padding40 {
    padding: 40px 0; 
}

html .btn-default {
    color: #fff !important;
    background-color: #1c8343;
    border: none;
    border-radius: 0;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

html .btn-default:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
    font-size: 18px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

html {
    
    .sp-buttons {
        position: absolute;
        bottom: 0;
    }

.sp-selected-button {
    background-color: #fff;
}

.sp-button {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 4px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
}

/* Banner - Home
-------------------------------------------------- */

html .section-wrap {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

html .banner:-webkit-scrollbar {
   display: none; 
}

.image-wrap {
    background-size: cover !important;
    background-position: center !important;
}

@media (min-width: 991px) {
.banner.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
    }}

html .banner > div {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden
}

html .banner > div:-webkit-scrollbar {
    display: none;
} 

@media only screen and (max-width : 991px) {
.content, .homecontent {
   
    }}

.is-table-row{
    min-height: 500px;
}

.page-template-default .is-table-row {
     min-height: 563px;
}

@media only screen and (max-width : 991px) {
.image-wrap {
    min-height: 400px;
    }}
   

@media only screen and (min-width : 991px) {
    .is-table-row {
        display: table;
        width: 100%;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.banner {
    background: #f4f4f4;
    
    
   
    .imageleft {
        width: 100%;
        height: 100%;
        display: block;
    }

    
    .imageright {
        min-height: 500px;
       
        img {
            text-align: right;
            width: 100%;
            height: auto;
        }
    }
    .imageleft {
       
        img {
            text-align: right;
            width: 100%;
            height: auto;
        }
    }
    .text-banner-wrap {
     
        text-align: left;
        margin: 15% 9%;
        height: auto !important;
        
        @media (max-width: 991px) {
            margin: 5% 9%;
        }
        
        h2 {
            color: #000;
            margin: 5px 0 20px 0;
            
            @media (max-width: 991px) {
                margin: 20px 0 20px 0;
            }
            
        }
        p {}
        .arrow-botton {
            color: #1c8343;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
            
            @media (max-width: 767px) {
                font-size: 15px;
            }
            
            img {
                width: 25px;
                height: auto;
                margin: 0 10px;
            }
            
        }
    }
}

/* Footer Grid Banners
-------------------------------------------------- */

.home .footer-grid {
    @media (max-width: 991px) {
    margin-top: 40px;
    }
}

.footer-grid {
    background: #f2f2f2;

.footer-grid-wrap {
 padding: 0 20%;
    overflow:auto;
    display: block;
        
        h3 {
            color: white;
            font-family: "adobe-caslon-pro", serif;
            font-size: 26px;
            text-transform: uppercase;
            margin: 50px 0 0;
            line-height: 1;
        }
        
        h4 {
            color: white;
            font-size: 16px;
            font-weight: 400;
            border-bottom: 2px solid white;
            padding-bottom: 10px;
            margin-top: 0;
        }
    
    p {
        color: white;
        margin: 10px 0 0;
        font-size: 12px;
    }
        
        a {
            color: white;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            
            img {
                width: 25px;
                height: auto;
                margin: 0 10px;
            }
        }
    
       @media (max-width: 2000px) {
    padding: 0 15%;
}
    
    @media (max-width: 1700px) {
    padding: 0 13%;
}
    
    
    @media (max-width: 1500px) {
    padding: 0 9%;
}
    
    
    @media (max-width: 1300px) {
    padding: 0 3%;
}
    
    
    .gallery {
  list-style: none;
  padding: 0;
  margin: 0 -5px 0 -5px;
         display: flex;
  flex-wrap: wrap;
        text-align: center;
}

.gallery li {
  display: flex;
  float: left;
  width: 30%;
    background: #1c8343;
   margin: 0 10px 10px 10px;
     padding: 20px 20px 35px;
    text-align: center;
}

.thumb {
 margin: 0 auto;
    text-align: center;
    
    .icon {
        width: 100px;
        height: auto;
        margin-top: 60px;
    }
      
   
    
}



/* Responsive Styles
---------------------------------------------------------------------------------------------------- */
    
    @media (max-width: 2000px) {
  .footer-grid-wrap {
    padding: 0 15%;
  }
}

/* Large desktop */
@media (min-width: 1200px) { 

  .gallery li {
    width: 31%;
  }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .gallery li {
    width: 100%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
}
        
    
}
    
}

#footer-wrapper > div > div:nth-child(2) {
   @media (min-width: 768px) and (max-width: 1200px) { 
min-height: 390px;
} 
}

/* Image Banner
---------------------------------------------------------------------------------------------------- */

.image-banner {
    background-size: cover;
    background-position: center;
    height: 50vh;
    
    @media (max-width: 800px) { 
    height: 330px;
    }
    
    @media (max-width: 767px) { 
    height: 295px;
    }
    
}

/* Content
---------------------------------------------------------------------------------------------------- */

html a:hover, a:focus {
    text-decoration: none;
}

.home .content {
    ul, ol {
        padding-left: 25px;
        font-size: 16px;
        
        li {
            margin-bottom: 5px;
        }
        
    }
}

.content, .homecontent {
    
    a {
        color: #00a940;
        text-decoration: none;
         font-weight: 600;
    }
    
    .btn-default {
        margin-top: 40px;
    }
    
    .h1-large {
      margin: 50px 0 50px;  
    }
    
    .h3:first-child, h3:first-child {
            margin-top: 25px;
    }
    
    .h3,h3 {
        margin-top: 0;
    }
    
    ul, ol {
        padding-left: 25px;
        font-size: 16px;
        
        li {
            margin-bottom: 15px;
        }
        
    }
    
}

.content, .homecontent {
    @media (max-width: 991px) {
    padding: 0 20px;
    }
}

.content.grey {
    @media (max-width: 991px) {
        padding: 30px 20px;
    }
}

p {
  margin: 0 0 20px;
}

.grey {
    background: #f2f2f2;
}

/* Map
---------------------------------------------------------------------------------------------------- */

#map {
                width: 100%;
                height: 510px;
            }

/* Contact
---------------------------------------------------------------------------------------------------- */

html .formstyle_wrapper.showlable_wrapper {
   .gfield_label {
            display: block!important;
       font-size: 12px;
        } 
    input[type=submit] {
        display: none;
    }
    
}

html .formstyle_wrapper {
    
    .top_label div.ginput_container {
        margin-top: 0px !important;
    }
    
    ul li {
        margin-bottom: 0;
    }
    
     input[type=select] {
        width: 100%;
    }
    
    .gfield_select {
        height: 48px;
    }
    
    
    .gform_footer {
        padding: 0 !important;
        margin: 20px 0 0 0 !important;
    }
       
       .gform_wrapper {
           margin: 0;
       }
       
       .gform_wrapper .gform_footer {
           margin: 0;
           text-align: center;
       }
        
        .gfield_label {
            display: none !important;
        }
       
       input[type=text], input[type=email], input[type=tel], textarea, input[type=password] {
           border: 1px solid #cccccc;
           outline: none;
           color: #666666;
           font-size: 1.125em !important;
           padding: 9px 9px !important;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
           height: 100%;
           width: 100% !important;
       }
       
       input[type=text]:active {
           outline: none;
       }
       
       input[type=submit] {
           display: inline-block;
        background: #1c8343;
    padding: 8px 40px !important;
           border-radius: 0px;
    text-transform: uppercase;
    border: none;
    color: white;
    font-size: 1.125em !important;
           line-height: 1.5 !important;
     
           -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 100%;
       }
    
    
     input[type=submit]:active, input[type=submit]:focus {
           outline: none;
       }
    
    .gform_confirmation_wrapper  {
        margin: 15px 0 0 0;
         font-size: 1.125em !important;
    }
    }
    
.formstyle_wrapper.gform_wrapper {
    
    .validation_error {
    color: #1c8343;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0px;
    border: none;
    padding: 10px 0;
    clear: both;
    width: 100%;
    text-align: center;
}
    
    .gform_validation_error {
        textarea {
            border-color: #1c8343 !important;
        }
    }
    
    .field_description_below .gfield_description {
    padding-top: 0px;
}
    
  li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent;
    margin-bottom: 6px !important;
    border: none;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
}
    
     .validation_message {
    color: #1c8343;
    font-weight: 700;
    letter-spacing: normal;
         font-size: 90%;
}
    
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border: 1px solid #1c8343;
}
        
    }

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border: 1px solid #1c8343 !important;
}

.wow { visibility: hidden; }

/* Accordion Styles */
.accordion {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
     outline: none; 
}
.accordion-title:after {
content: '\f078';
 font-size: 18px;
font-family: FontAwesome;
display: inline-block;
transition: 0.2s;
    padding-left: 15px;
}
.accordion-title.open:after {
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
        padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 15px;
}

.accordion-title {
    border-top: 1px solid #dbdbdb;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
    @media (max-width: 767px) {
            font-size: 19px;
    }
}

.accordion-title:focus {
  outline-color: transparent;
  outline-style: none;
}

.accordion-title {
    outline: none; 
}

textarea, input, button { outline: none; }

.accordion-title:hover {}
.accordion-title:first-child {border: none;}
.accordion-title.open {cursor: default;}
.accordion-content {padding-bottom: 20px;}
