/******************************************************************
Author: Obed Rosenzweig

Stylesheet: Footer

******************************************************************/

.footer-container {
  padding: 0 16%;
    overflow: auto;
    display: block;
}


#footer {
font-size: 14px;
   
  background: #4c4c4c;
  padding: 70px 0 0;
  margin-top: 0px;
  clear: both;
  color: #fff;
  h4 {
    color: #fff;
      font-weight: 600;
  }
  a {color: #fff;}
  li {
    padding: 5px 0;
    margin: 0px 0px;
  }
  .widgettitle {
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: none;
      font-size: 25px;
  }
}

#footer-wrapper {
  margin-bottom: 70px;
}

#sub-floor {
  color: #ffffff;
  background: #4c4c4c;
  padding: 10px 0;
    margin-bottom: 10px;
}

.copyright {
  text-align: center;
    color: #ffffff;
    font-size: 12px;
     a {color: #fff;}
  
}

.attribution {
  text-align: center;
  @media (min-width: $screen-md) {
    text-align: right;
  }
}

.widgetFooter {
  padding-bottom: 25px;
  @media (min-width: $screen-md) {
    padding-bottom: 0px;
  }
}

#footer-wrapper {
    .widget_nav_menu {
        
        a {
            font-weight: 700;
        }
        
    }
    
    .custom-html-widget {
        p {
             line-height: 1.8;
        }
        
        ul {
            padding-left: 10px;
        }
    }
    
}