/******************************************************************
Author: Obed Rosenzweig

Stylesheet: Global Stylesheet

Styles and classes used throughout the entire BREW framework

******************************************************************/

body {
  padding-top: $navbar-height; // THIS IS IF YOU HAVE top-nav-fixed ENABLED
    
    @media (max-height: 900px) {
        padding-top: 145px;
    }
    
    @media (max-width: 991px) {
        padding-top: 135px;
    }
    @media (max-width: 700px) {
        padding-top: 85px;
    }
  &.admin-bar .navbar-fixed-top { // THIS FIXES THE TOP NAV WHEN ADMIN BAR IS ENABLED
  	top: 46px;
  	@media (min-width: 783px) {
    	top: 32px;
 		}
 	}
}

body.home {
    @media (max-width: 767px) {
        padding-top: 20px;
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	a {}
}

h1, .h1 {}

h2, .h2 {}

h3, .h3 {}

h4, .h4 {}

h5, .h5 {}


/*********************
LINK STYLES
*********************/

a, a:visited {

	/* on hover */
	&:hover, &:focus {}

	/* on click */
	&:active {}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
	}
}


