/******************************************************************
Author: Obed Rosenzweig

Stylesheet: Header & Navigation

******************************************************************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/


// HEADER
.header {

	#logo {}

	nav {
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}

// NAVIGATION
// you may need to replace .nav with: .navbar-nav (and possibly include .navbar-inverse)

html .navbar-fixed-top .navbar-collapse, html .navbar-fixed-bottom .navbar-collapse {
    max-height: 100%;
}

html .navbar-centre {
    float: none !important;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav .open .dropdown-menu {
    color: white;
    background: #1c8343;
    
    li a {
         color: white !important;
    }
}

.nav {
    margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
    
    .menu-item-has-children {
        .dropdown-menu {
            li {
              @media (min-width: 768px) {
            display: block;
        }   
            }
        }
    }

	li {
        @media (min-width: 768px) {
            display: inline-block;
        }
        
        // Hover menu
      //display: block;
        float: none;
       
		a {
            
             @media (min-width: 1700px) {
                 font-size: 20px;
                 padding: 0px 16px 10px;
            }
            
               @media (max-width: 1700px) {
                 font-size: 18px;
                padding: 0px 16px 10px;
            }
            
             @media (max-width: 1500px) {
                 font-size: 17px;
                 padding: 0px 16px 10px;
            }
            
              @media (max-width: 1400px) {
                 font-size: 16px;
                padding: 0px 16px 10px;
            }
            
             @media (max-width: 1300px) {
                 font-size: 14px;
                 padding: 0px 16px 10px;
            }
            
            @media (max-width: 1200px) {
                 font-size: 15px;
                padding: 0px 16px 10px;
            }
            
              @media (max-height: 900px) {
                 font-size: 15px;
                padding: 0px 16px 10px;
            }
            
            
            @media (max-width: 991px) {
                font-size: 13px;
                 padding: 10px 6px;
            }
            
            
            color: #7a7a7b;
            font-weight: bold;
            padding: 10px 16px;
			&:hover, &:focus {
color: #3f804a;
                background: transparent;
			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}
        
        
        

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */
    
   
    

} /* end .nav */

@media (max-width: 767px) {
html .navbar-nav .open .dropdown-menu>li>a {
    text-align: center;
}
}



 @media (min-width: 991px) {
    // Menu position and menu carets
html .navbar-nav>li>.dropdown-menu {
         margin-top: 0px;
border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #1c8343;
    
    a {
    color: white;
        font-weight: 400;
        font-size: 18px;
    }
    
        }}

 @media (min-width: 767px) {
    // Menu position and menu carets
html .navbar-nav>li>.dropdown-menu {
         margin-top: 0px;
border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #1c8343;
    
    a {
    color: white;
        font-weight: 400;
        font-size: 14px;
        padding: 10px;
    }
    
        }}

@media (max-height: 900px) {
    html .navbar-nav>li>.dropdown-menu {
         margin-top: 2px;
    }
}

@media (max-width: 1200px) {
    html .navbar-nav>li>.dropdown-menu {
        margin-top: 0px;
    }
}

@media (max-width: 991px) {
    html .navbar-nav>li>.dropdown-menu {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    html .navbar-nav>li>.dropdown-menu {
        margin-top: 0px;
    }
}